@font-face {
    font-family: 'EB Garamond';
    src: local('ebgaramondregular'),
    url("/fonts/ebgaramondregular.woff2") format("woff2"),
    url("/fonts/ebgaramondregular.ttf") format("ttf"),
    url("./ebgaramondregular.woff") format("woff");
  font-weight: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: local('ebgaramondmedium'),
    url("./ebgaramondmedium.woff2") format("woff2"),
    url("./ebgaramondmedium.ttf") format("ttf"),
    url("./ebgaramondmedium.woff") format("woff");
  font-weight: medium;
}

@font-face {
    font-family: 'Inter';
    src: local('interregular'),
    url("./interregular.woff2") format("woff2"),
    url("./interregular.ttf") format("ttf"),
    url("./interregular.woff") format("woff");
  font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('interbold'),
    url("./interbold.woff2") format("woff2"),
    url("./interbold.ttf") format("ttf"),
    url("./interbold.ttf") format("woff");
  font-weight: bold;
}